#goBack{
    position:absolute;
    height: 15%;
    width: 15%;
    align-self: center;
    bottom:0;   
}

h3{
    font-size: 12px;
    text-align: center;

}

#reminders {
    background-color: white;
    width : 100%;
    height:auto;
}

#reminders>div{
    background-color:rgba(65, 115,197);
    color: white;
    align-self: inherit;
    text-align: center;
    padding: 35px;
    margin:25px;
    border-spacing: 2em;
   
}


