#goBack {
  position: absolute;
  height: 15%;
  width: 15%;
  align-self: center;
  bottom: 0;
}

#timeStamp {
  text-align: center;
  margin: 30px;
}

#reminders {
  background-color: white;
  width: 100%;
  height: auto;
  align-self: center;
}

#reminders > div {
  background-color: rgba(65, 115, 197);
  color: white;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin: 0 auto;
  border-spacing: 2em;
  display: block;
}
