#goBack {
  position: inline;
  height: 15%;
  width: 15%;
  align-self: center;
  bottom: 0;
}

#reminders {
  align-items: inherit;
}

div {
  padding: 2em;
}

h3 {
  font-size: 12px;
  text-align: center;
}

#add {
  color: white;
  background-color: rgba(112, 173, 70);
}

input,
select,
textarea {
  background-color: rgba(65, 115, 197);
  text-align: center;
  color: white;
  font-weight: 200;
}
